ion-label {
    display: block;
}
.main_content_div {
    width: 100%;
    height: 100%;

    .upper_div{
        height: 100%;

        #map{
            width: 100%;
            height: 100%;
        }
    }

    .abs_div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
    }

    .search_flex {
        display: flex;
        padding: 16px;

        .white_back {
            height: 45px;
            width: 45px;
            background: white;
            border-radius: 50%;
            position: relative;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.3);

            ion-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 24px;
            }
        }

        ion-input {
            border: 1px solid lightgrey;
            border-radius: 25px;
            --padding-start: 8px;
            --padding-end: 8px;
            height: 45px;
            margin-left: 10px;
            margin-right: 10px;
            background: white;

            ion-icon {
                margin-left: 16px;
                color: grey;
            }
        }

        .option_back {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            background: var(--ion-color-primary);
            position: relative;

            ion-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: white;
                font-size: 24px;
            }
        }
    }

    

    .slider_div {
        padding: 0px 16px;

        .bold_lbl {
            font-family: 'semi-bold';
            font-size: 24px;
        }

        ion-slide {
            margin-right: 16px;
            margin-top: 16px;
            margin-bottom: 16px;
        }

        .slide_div {
            background: white;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
            // border: 1px solid;
            padding: 10px;
            width: 100%;
            height: 140px;
            display: flex;
            border-radius: 5px;

            .back_image {
                width: 80px;
                min-width: 80px;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 5px;
            }

            .content_div {
                padding-left: 10px;
                text-align: left;
                .name {
                    font-family: 'semi-bold';
                }

                .star_flex {
                    display: flex;
                    color: orange;
                    margin-top: 5px;
                    // margin-bottom: 10px;

                    ion-icon {
                        margin-right: 5px;
                        font-size: 15px;
                    }
                }

                .price_flex {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    .price_lbl {
                        font-size: 15px;
                    }

                    .green_div {
                        height: 40px;
                        width: 40px;
                        background: var(--ion-color-primary);
                        border-radius: 50%;
                        position: relative;

                        ion-icon{
                            position: absolute;
                            color: white;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
            }
        }
    }
}