<ion-content>
    <div class="main_content_div">

        <ion-icon name="arrow-back-outline" class="back_btn" (click)="goToBack()"></ion-icon>

        <div class="flex_header">
            <img src="assets/imgs/discount.png">
            <ion-label>Your Discount</ion-label>
        </div>

        <ion-label class="grey_lbl">We prepared some amaizing discouns for your next trips. We hope they will be useful!</ion-label>

        <div class="grey_box">
            <div class="round_box">
                <img src="assets/imgs/booking.png">
            </div>
            <div class="content_div">
                <ion-label class="bold_lbl">15% hotel discount</ion-label>
                <ion-label class="small_lbl">Booking.com - Valid until 24/07</ion-label>
            </div>
        </div>

        <div class="grey_box">
            <div class="round_box">
                <img src="assets/imgs/wizz.png">
            </div>
            <div class="content_div">
                <ion-label class="bold_lbl">50% off First Class</ion-label>
                <ion-label class="small_lbl">WizzAir - Valid until 24/07</ion-label>
            </div>
        </div>

        <div class="grey_box">
            <div class="round_box">
                <img src="assets/imgs/wizz.png">
            </div>
            <div class="content_div">
                <ion-label class="bold_lbl">10% off all flights</ion-label>
                <ion-label class="small_lbl">WizzAir - Valid until 24/07</ion-label>
            </div>
        </div>

    </div>
</ion-content>

<ion-footer>
    <ion-label>Create more plans to get more discount</ion-label>
</ion-footer>
