ion-label {
    display: block;
}
.main_content_div {
    padding: 16px;
    padding-top: 50px;

    .back_btn {
        font-size: 30px;
    }

    .flex_header {
        display: flex;
        align-items: center;
        margin-top: 20px;

        ion-label {
            font-size: 26px;
            font-family: 'semi-bold';
            margin-left: 16px;
        }
        img {
            width: 25px;
            height: 25px;
            min-width: 25px;
        }
    }

    .grey_lbl {
        font-size: 15px;
        color: grey;
        margin-top: 10px;
    }

    .grey_box {
        background: #f5f5f5;
        padding: 16px;
        margin-top: 16px;
        display: flex;
        align-items: center;

        .round_box {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: lightgray;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 30px;
            }
        }

        .content_div {
            padding-left: 16px;

            .bold_lbl {
                font-family: 'semi-bold';
                margin-bottom: 3px;
            }

            .small_lbl {
                font-size: 14px;
                color: grey;
            }
        }
    }
}

ion-footer {
    ion-label {
        padding: 16px;
    }
}