<ion-content>
    <div class="main_content_div">

        <div class="upper_flex">
            <img src="assets/imgs/airplane.png">
            <ion-label class="bold_lbl">Plan yout trip easiest <br> way possible.</ion-label>
            <ion-label class="grey_lbl">Find interesting destionations and create plans for trips in second.</ion-label>
            <ion-fab-button (click)="goToLogin()">
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-fab-button>
        </div>

        <div>
            <ion-label class="small_lbl">150 new users today!</ion-label>
        </div>

    </div>
</ion-content>
