.main_content_div {
    padding: 16px;

    ion-input {
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
        --padding-start: 16px;
        --padding-end: 16px;
        margin-bottom: 20px;
    }
    ion-button {
        
    }
}