ion-content{
    // --background: #EFF0F5;
    --background: white;
}
.main_content_div{
    width: 100%;

    ion-label {
        display: block;
    }

    .back_image{
        width: 100%;
        height: 40vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        ion-icon {
            margin-left: 16px;
            margin-top: 50px;
            font-size: 30px;
            color: white;
        }

        ion-label {
            position: absolute;
            bottom: 45px;
            font-size: 26px;
            font-family: 'my-family';
            color: white;
            text-align: center;
            left: 50%;
            transform: translate(-50%);
        }
    }

    .white_div{
        width: 100%;
        padding: 16px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        margin-top: -30px;
        position: fixed;
        overflow: scroll;
        // background: #EFF0F5;
        background: white;
        height: 60vh;
        z-index: 999;

        .head_lbl{
            font-family: 'semi-bold';
            font-size: 18px;
            margin-top: 15px;
        }

        .detail_lbl{
            font-size: 15px;
            color: grey;
        }

        .rate_flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: grey; 
    
            ion-button {
                margin: 0px;
            }
        }

        .grey_box {
            // background: #f5f5f5;
            padding: 16px 0px;
            // margin-top: 16px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid lightgrey;
            position: relative;
    
            .round_box {
                height: 45px;
                width: 45px;
                border-radius: 50%;
                position: relative;
    
                ion-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 24px;
                }
            }
            .plane_div {
                background: rgba(56, 128, 255, 0.2);

                ion-icon {
                    color: #3880ff;
                }
            }

            .hotel_div {
                background: rgba(255, 165, 0, 0.2);
                ion-icon {
                    color: #ffa500;
                }
            }
    
            .content_div {
                padding-left: 16px;
    
                .bold_lbl {
                    font-family: 'semi-bold';
                    margin-bottom: 3px;
                }
    
                .small_lbl {
                    font-size: 14px;
                    color: grey;
                }
            }

            .forward_icn {
                color: lightgray;
                position: absolute;
                right: 0;
                font-size: 20px;
            }
        }
    }

    ion-button {
        margin-top: 20px;
    }
}

ion-button {
    letter-spacing: 0.6px;
    text-transform: capitalize;
}