.main_content_div {
    padding: 16px;

    ion-label {
        display: block;
    }

    .title_lbl {
        font-size: 20px;
        margin-bottom: 20px;
        font-family: 'semi-bold';
    }

    .simp_lbl {
        color: grey;
        margin-bottom: 5px;
    }
    ion-input, ion-datetime {
        border: 1px solid lightgrey;
        border-radius: 25px;
        height: 48px;
        --padding-start: 16px;
        --padding-end: 16px;
        margin-bottom: 20px;
    }

    .flex_div {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        ion-label {
            margin-left: 16px;
        }
    }
}