ion-label {
    display: flex;
}
ion-header {
    padding: 16px;
    .header_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .weather_flex {
            display: flex;
            align-items: center;

            img {
                width: 20px;
            }

            ion-label {
                margin-left: 10px;
            }
        }

        .name {
            font-size: 18px;
            font-family: 'semi-bold';
            margin-top: 5px;
        }

        .round_img {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

.main_content_div {
    // padding: 16px;
    padding-top: 20px;

    .upper_div {
        padding: 16px;        

        .bold_lbl {
            font-family: 'semi-bold';
            margin-bottom: 16px;
        }
    
        .back_image {
            width: 100%;
            height: 170px;
            border-radius: 5px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .users_flex {
                display: flex;
                justify-content: flex-end;
                .user_round {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-left: -10px;
                    // border: 5px solid white;
                }
            }

            .manage_flex {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .place_name {
                    font-family: 'my-family';
                    font-size: 20px;
                    color: white;
                }

                .small_lbl {
                    color: white;
                }

                ion-button {
                    --border-radius: 5px;
                }

                
            }
        }
    }

    .grey_box{
        background: #F7F7F7;
        padding: 16px;
        padding-top: 40px;

        .bold_lbl {
            font-family: 'semi-bold';
            margin-bottom: 16px;
        }
        
        .tracking_div{
            margin-top: 30px;
            display: flex;
            flex-direction: row;
        
            .first {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 20px;
                min-width: 20px;
        
                ion-label {
                    margin-top: 65px;
                }
            }
        
            .left{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100px;
                min-width: 100px;
                .line_div{
                    height: 60px;
                    width: 4px;
                    background: linear-gradient(
                        to bottom, 
                        var(--ion-color-primary) 0%, 
                        var(--ion-color-primary) 60%, 
                        lightgrey 50%, 
                        lightgrey 100%
                    );
                }
        
                .line_div_darkgray{
                    height: 60px;
                    width: 4px;
                    background: var(--ion-color-primary);
                }
        
                .round_div_gray{
                    height: 26px;
                    width: 26px;
                    background-color: transparent;
                    border: 2px solid lightgrey;
                    border-radius: 50%;
                    margin-left: -10px;
                    position: relative;
        
                    ion-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        font-size: 17px;
                        font-weight: 600;
                        color: #f7f7f7;
                    }
                }
                .round_div_darkgray{
                    height: 26px;
                    width: 26px;
                    background-color: var(--ion-color-primary);
                    border-radius: 50%;
                    margin-left: -10px;
                    border: 2px solid var(--ion-color-primary);
                }
                .round_div_red{
                    height: 26px;
                    width: 26px;
                    background-color:var(--ion-color-primary);
                    border-radius: 50%;
                    margin-left: -10px;
                }
            }
        
            .right{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
        
                .content_flex {
                    padding-top: 50px;
                    display: flex;
                    justify-content: space-between;
        
                    .act_lbl {
                        font-family: 'semi-bold';
                        color: black;
                    }
            
                    .place_lbl {
                        color: gray;
                    }
        
                    .image_div {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        background: #ebebeb;
                        position: relative;
        
                        img {
                            width: 25px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
            }
        }
    }
}

ion-button {
    letter-spacing: 0.6px;
    text-transform: capitalize;
}